/* ============ Main ============= */

.main-page {
}

/* ======= Hero section ===== */

.hero-section {
}
.container {
}
.hero-main-block {
	display: flex;
}
.hero-aside {
	&__menu {
		display: block;
		position: absolute;
		transform: rotate(-90deg);
		bottom: 191px;
		left: -69px;
		display: flex;
		align-items: center;
		gap: 40px;
		&::before {
			content: "  ";
			background-color: #303030;
			width: 60px;
			height: 1px;
			display: block;
			position: absolute;
			transform: translatex(-100%);
			left: -8px;
			top: 18px;
		}
	}

	&__list {
		display: inline-block;
	}

	&__link {
		display: inline-block;
		text-decoration: none;
		font-weight: 600;
		font-size: 11px;
		line-height: 15px;
		letter-spacing: 0.2em;
		color: #303030;
	}
}
.left-size {
	width: 8.45%;
	position: relative;
}

.hero-main {
	width: 91.66%;
	padding: 270px 526px 210px 100px;
	background-size: cover;
	background-image: url(../images/hero-backround.jpg);
	color: wheat;

	&__about-us {
		font-weight: 600;
		font-size: 11px;
		line-height: 1.36;

		text-transform: uppercase;

		color: rgba(157, 164, 189, 0.6);

		margin-left: 80px;
		&::before {
			content: "  ";
			background-color: rgba(157, 164, 189, 0.6);
			width: 1px;
			height: 60px;
			display: block;
			position: relative;
			top: 38px;
			left: -46px;
			transform: rotate(90deg);
		}
	}

	&__title {
		margin-top: 20px;

		font-family: "Raleway", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 72px;
		line-height: 85px;
		/* identical to box height */

		letter-spacing: 0.05em;

		color: #ffffff;
	}

	&__description {
		width: 360px;
		margin-top: 20px;
		font-size: 18px;
		line-height: 1.67;
		/* or 167% */

		letter-spacing: 0.02em;

		color: #9da4bd;
	}
}
/* ======= Hero section ===== */

/* ======= Section About-us ===== */
.about-us-container-section {
	display: flex;
	gap: 30px;

	padding: 120px 0;
}

.image-container {
	&__menu {
		display: flex;
		gap: 30px;
	}

	&__list {
	}

	&__item {
		display: block;
	}
}
.about-us-container {
	&__title-promo {
		font-weight: 600;
		font-size: 11px;
		line-height: 15px;
		text-transform: uppercase;
		color: #303030;

		margin-left: 80px;
		&::before {
			content: "  ";
			background-color: rgba(157, 164, 189, 0.6);
			width: 1px;
			height: 60px;
			display: block;
			position: relative;
			top: 36px;
			left: -50px;

			transform: rotate(90deg);
		}
	}

	&__title {
		margin-top: 20px;

		font-weight: 700;
		font-size: 42px;
		line-height: 49px;
		letter-spacing: 0.05em;
		color: #303030;
	}

	&__subtitle {
		margin-top: 20px;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.67;
		letter-spacing: 0.02em;
		color: #555555;
	}

	&__description {
		margin-top: 20px;
		font-size: 14px;
		line-height: 26px;
		letter-spacing: 0.02em;
		color: #555555;
	}

	&__button {
		margin-top: 42px;
		background-color: transparent;
		border: 1px solid #ff6c00;
		border-radius: 25px;
		color: #000000;

		&:hover,
		&:active,
		&:focus {
			background-color: #ff6c00;
			color: #ffffff;
		}
	}
	&__link {
		display: block;
		text-decoration: none;
		padding: 12px 20px;

		letter-spacing: 0.09em;
		text-transform: uppercase;

		color: inherit;
	}
}

/* ======= Section About-us ===== */

/* ======= Section  Price ===== */

.section-price {
}
.container {
}
.price-container {
	&__description {
	}

	&__title {
	}

	&__button {
	}

	&__link {
	}
}
.table-container {
	&__menu {
	}

	&__list {
	}
}

/* ======= Section  Price ===== */

/* ============ Main ============= */
